/* COLORS */

$blue: #3c4753;
$gold: #dcb95f;
$grey: #262222; //#373d43;
$red: #6C2424;

$app-primary-color: black;
$text-color: $grey;

$primary1: lighten($app-primary-color, 10%); //#103459;
$primary2: lighten($app-primary-color, 20%); //#445d76;
$primary3: lighten($app-primary-color, 30%); //#6b7392;
$primary4: lighten($app-primary-color, 40%); //#8ea8c3;
$primary5: lighten($app-primary-color, 50%); //#8f9ead;
$primary6: lighten($app-primary-color, 60%); //#a5bacf;
$primary7: lighten($app-primary-color, 70%); //#bbcbdb;
$primary8: lighten($app-primary-color, 80%); //#d2dce7;
$primary9: lighten($app-primary-color, 90%); //#e8eef3;

// BLUE
$blue1: lighten($blue, 10%); //#103459
$blue2: lighten($blue, 20%); //#445d76
$blue3: lighten($blue, 30%); //#6b7392
$blue4: lighten($blue, 40%); //#8ea8c3
$blue5: lighten($blue, 50%); //#8f9ead
$blue6: lighten($blue, 60%);
$blue7: lighten($blue, 70%);
$blue8: lighten($blue, 80%);
$blue9: lighten($blue, 90%);

// GOLD
$gold1: lighten($gold, 10%); //#e3c77f;

// GREY
$grey1: lighten($grey, 10%); //#4a5159; // OR #495159
$grey2: lighten($grey, 20%); //#626c76;
$grey3: lighten($grey, 30%); //#818991;
$grey4: lighten($grey, 40%); //#b6b9bd;
$grey5: lighten($grey, 50%); //#e0e2e4;
$grey6: lighten($grey, 60%);
$grey7: lighten($grey, 70%);
$grey8: lighten($grey, 80%);
$grey9: lighten($grey, 90%);

/* PAGE COLORS */

$usc-primary: $red;
$usc-secondary: $gold1;
$ucla-primary: $blue5;
$ucla-secondary: $gold1;
//$uci-primary:
//$uci-secondary:
