<footer>
<div class="info-box-pad panel" data-equalizer-watch>
<class="show-for-medium-up">
  <div class="row collapse text-center bg-footer-1">
    <div class="medium-12 medium-centered columns">
      <section class="block-spacing-sml">
        <h5 class="white"><strong><font face="Oswald"><em>"The least one will become a clan, and the smallest one a mighty nation; I the LORD will hasten it in its time." - Isaiah 60:22</em></strong></h5>
      </section>
    </div>
  </div>
  <div class="row bg-footer-2 block-spacing-sml" data-equalizer>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <h6>ABOUT</h6>
        <li><a class="fast-color-trans" href="/about">About</a></li></li>
        <li><a class="fast-color-trans" href="/vision">Mission/Vision/Values</a></li>
        <li><a class="fast-color-trans" href="/seminar">The Seminar</a></li>
        <li><a class="fast-color-trans" href="/founder">The Founder</a></li>
        <li><a class="fast-color-trans" href="/belief">What We Believe</a></li>
      </ul>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <h6>MINISTRIES</h6>
        <li><a class="fast-color-trans" href="/southerncali">Southern California</a></li>
        <li><a class="fast-color-trans" href="/northerncali">Northern California</a></li>
        <li><a class="fast-color-trans" href="/austrailia">Australia</a></li>
        <li><a class="fast-color-trans" href="/eastasia">East Asia</a></li>
      </ul>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <h6>CONTACT US</h6>
        <li><a class="fast-color-trans" href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>

<footer class="show-for-small-only">
  <div class="row text-center collapse bg-footer-2 block-spacing-sml">
    <div class="small-12 columns">
      <ul>
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
      </ul>
    </div>
  </div>
</footer>
