<div link_to "Live.", "javascript:;", class="responsive-button">
     <a data-reveal-id="modal1" href="javascript:;">Live.</a>
     <div id="modal1" class="reveal-modal" data-reveal>
      <div class = "small 8 columns">
       <h3 class = "serif"><font face="Oswald">Live.</h3>
       <h4 class = "serif">Evangelism</h4>
          <br>
          <p class = "responsive-indent">Life begins with Jesus.  John the Evanglist writes, "...but these have been written so that you may believe that Jesus is the Christ,$
          <p class = "responsive-indent">We all came into this life through faith in Jesus Christ - by believing in Him.  The Apostle Paul writes, "So faith comes through hea$
          <p class = "responsive-indent">Evangelism is the proclaimation of the Gospel - 'the Good News' about Jesus.  But this Gospel of the Kingdom had its beginning in Gen$
          <p class = "responsive-indent">But each and every day we must learn more of what it means to live into this Life ourselves.  We are the New Creation (2 Corinthians $
       <div class="small-12 columns text-center">
       <%= link_to "Tools to Live.",evangelismtools_path, class:"responsive-button" %>
       </div>
       <a class="close-reveal-modal">&#215;</a>
       </div>
      </div>
     </div>

