<% provide(:title, 'about') %>
<div class="row">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="westla-main">
    </section>
 </div>
</div>
<section class="separation-1"></section>
<div class="row">
 <div class = "small-11 small-centered columns">
  <div class="row collapse">
   <div class = "small 8 columns">
          <p class = "responsive-indent">The passion for Christianity at Work was primarily born out of a desire to help Christian men and women see their vocation in light of what God is doing in the world – as an integral part of God’s kingdom. Often Christians in a “secular” vocation are viewed as second-class Christians, while those in “ministry” are viewed as being on another spiritual plain.  Consequently, Christians often live in a secular/sacred dichotomy – viewing their vocation as secondary to their lives as Christians, and their lives as secondary to God’s kingdom work. </p>
	  <p class = "responsive-indent">The call of Jesus Christ on every Christian to “make disciples of all nations” suggests the need for a different view of work.  Furthermore, the message of the Gospel itself demands a different view of how one is to live their life out in the world.  It is not enough to leave evangelism and discipleship to the “professionals.”  Professionals of all vocations need to embrace Jesus’ call and be challenged to live according to His Gospel.</p>
          <p class = "responsive-indnet">It is true that all Christians are not called into a vocation of full-time Christian ministry.  But all Christians, no matter their vocation, are called to serve Christ in all they do. Christianity at Work provides a Scriptural, Theological foundation for such service and practical resources to make it a reality in every Christians’ life. </p>
   </div>
  </div>
 </div>
</div>

<div class="row">
 <div class="small-12 columns text-center">
  <div link_to "", javascript:;", class="responsive-button">
   <a data-reveal-id="modal2" href="javascript:;">Key Verses</a>
   <div id="modal2" class="reveal-modal" data-reveal>
    <div class = "small-8 columns">
     <h5 class = "serif"><font face="Oswald">Matthew 22.37-40</h5>
     <p class = "responsive-indent">You shall love the Lord your God with all your heart, and with all your soul, and with all your strength [and] love your neighbour as yourself. </p>
     <h5 class = "serif"><font face="Oswald">Matthew 28.18-20</h5>
     <p class = "responsive-indent">All authority has been given to Me in heaven and on earth.  Go therefore and make disciples of all the nations; Baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe everything I commanded you. And lo, I am with you always, even to the end of the age. </p>
     <h5 class = "serif"><font face="Oswald">2 Timothy 2.1-2</h5>
     <p class = "responsive-indent">Your therefore, my beloved son, be strong in the grace that is in Christ Jesus.  The things which you have heard from me in the presence of many witnesses, these entrust to faithful men who will be able to teach others also. </p>
     <h5 class = "serif"><font face="Oswald">Colossians 3.17</h5>
     <p class = "responsive-indent">Whatever you do in word or deed, do all in the name of the Lord Jesus, giving thanks through Him to God the Father. </p>
     <h5 class = "serif"><font face="Oswald">1 John 4.17</h5>
     <p class = "responsive-indent">Because as He is so also are we in this world </p>
    </div>
   <a class="close-reveal-modal">&#215;</a>
   </div>
  </div> 
 </div>
</div>
