
<% provide(:title, 'Seminar') %>
<div class="row text-center">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="westla-main">
    </section>
 </div>
</div>

<div class="row">
 <div class = "small-11 small-centered columns">
  <div class="row collapse">
   <div class = "small 8 columns">
    <h3 class = "serif"><font face="Oswald">Questions to Ask with Respect to One's Career</font></h3>
    <p class = "responsive-indent">Here are some helpful questions to ask when thinking about your job and/or career path.  The first question in each pair addresses your personal growth, the second, your orientation to the world.  All three pairs should be addressed when looking at one’s vocation or when choosing a career path:</p>
    <p class = "responsive-indent">How is my vocation shaping my love for God and my love for people?</p>
    <p class = "responsive-indent">How is my vocation working to accomplish the Great Commission?</p>
    <p class = "responsive-indent">What is Jesus doing in, through, and around my life?</p>
    <p class = "responsive-indent">What is Jesus doing in the world today?</p>
    <p class = "responsive-indent">How can I be better equipped to be “as He is in this world"?</p>
    <p class = "responsive-indent">How does my job facilitate what Jesus is doing in the world?</p>
    <section class="separation-1"></section>
   </div>
  </div>
 </div>
</div>
