<% provide(:title, 'Contact Us') %>

<div class="row text-center"">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="contact-main">
    </section>
  </div>
</div>


<div class="row">
  <div class= "visible-for-medium-up text-center">
    <h2>   We'd love to hear from you!</h2>
  </div>
  <div class= "visible-for-small-only small-12  text-center" >
   <h2> We'd love to hear from you! </h2>
  </div>
</div>


<div class="row">
  <div class= "visible-for-medium-up text-center medium-12 large-12 subheader-about" >
   <p>If you have any questions or would like to learn more about Christianity at Work, <br> please fill out and submit your contact information below. </p> 
  </div>

  <div class= "visible-for-small-only small-12  subheader-about text-center" >
    <p>  If you have any questions or would like to learn more about Christianity at Worok, <br> please fill out and submit your contact information below.
    </p>
  </div>
</div>

<div class="info-box-pad panel" data-equalizer-watch>
<div class="visible-for-medium-up">
  <div class="row">
    <div class="medium-7 medium-centered columns"><br />

      <form action="https://docs.google.com/forms/d/1RR9b-n21eWTH6yCwgBpS0cOJ6W1ekHZxdZIKngemZMc/formResponse" method="POST" id="ss-form" target="_self" onsubmit="" class="form grey4">

        <section class="row separation-1"></section>

        <div class="row">
        <div class=" medium-10 medium-centered columns">

          <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1521738895"><div class="ss-q-title">Name:
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <span class="ss-required-asterisk"></span></div>
          <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
          <input type="text" name="entry.1521738895" value="" class="roundbox" id="entry_1521738895" dir="auto" aria-label="Name:  " aria-required="true" required="" title="">
          <div class="error-message" id="1154056356_errorMessage"></div>
          <div class="required-message"></div>
          </div></div></div>
        </div>
        </div>
        

        <div class="row">
          <div class=" medium-10 medium-centered columns">
            <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">

            <label class="ss-q-item-label" for="entry_1440094105"><div class="ss-q-title">Email Address:
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
            <span class="ss-required-asterisk"></span></div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
            <input type="text" name="entry.1440094105" value="" class="roundbox" id="entry_1440094105" dir="auto" aria-label="Email Address:  " aria-required="true" required="" title="">
            <div class="error-message" id="264632001_errorMessage"></div>
            <div class="required-message"></div>
            </div></div></div>
          </div>
        </div>

        <div class="row">
            <div class=" medium-10 medium-centered columns">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_261296648"><div class="ss-q-title">Region:  
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk"></span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              
              <select name="entry.261296648" id="entry_261296648" aria-label="Region:  " class="roundbox" aria-required="true" required="">
                <option value""  disabled selected style='display:none;'>Select One</option>
                <option value="SOUTHERN CALIFORNIA">SOUTHERN CALIFORNIA</option>
                <option value="NORTHERN CALIFORNIA">NORTHERN CALIFORNIA</option>
                <option value="AUSTRALIA">AUSTRALIA</option>
                <option value="EAST ASIA">EAST ASIA</option>
                <option value="Other">Other</option>
                </select>
                <div class="required-message"></div></div></div></div>
             </div>
        </div>

  
        <!--The checkboxes-->  
        <div class="row">
          <div class=" medium-10 medium-centered  columns">
            <label> Would you be interested in any of the following?  </label>
            <ul id= "form" class="ss-choices" role="group" aria-label="">
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Discipleship Bible Study (for Christians)"  role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label" id="option1">Discipleship Bible Study (for Christians)</span>
              </label>
              </li>
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Investigative Bible Study (for seekers)" id="group_1411060512_2" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label" id="option1" >Investigative Bible Study (for seekers)</span>
              </label>
              </li>
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="One-on-one Discipleship" id="group_1411060512_3" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label" id="option1">One-on-one Discipleship</span>
              </label>
              </li>
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Large Group Meetings" id="group_1411060512_4" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label" id="option1">Large Group Meetings</span>
              </label></li>
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="A fifteen minute summary of the Bible" id="group_1411060512_5" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label" id="option1">A fifteen minute summary of the Bible</span>
              </label></li>
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Social Events &amp; Fellowship Activities" id="group_1411060512_6" role="checkbox" class="ss-q-checkbox"></span>
              <span class="ss-choice-label" id="option1">Social Events &amp; Fellowship Activities</span>
              </label>
              </li>
            </ul>

          </div>
         </div>

        <!--Comment/Message Box--> 
        <div class="row">
          <div class=" medium-10 medium-centered  columns">
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1874525269">
              <div class="ss-q-title">Message (Optional):
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <textarea name="entry.1874525269" rows="8"  cols="0" class="roundbox2" id="entry_1874525269" dir="auto" aria-label="Message (Optional):  "></textarea>
              <div class="error-message" id="388154614_errorMessage"></div>
              <div class="required-message"></div>
              </div></div></div>
          </div>
        </div>

        <input type="hidden" name="draftResponse" value="[,,&quot;-2006049549441426890&quot;]
        ">
        <input type="hidden" name="pageHistory" value="0">
        <section class="row separation-1"></section>
    </form>
    </div>
  </div>
</div>
</div>
<section class="row separation-0"></section>

<!--Submit Button--> 
<div class="row">
  <div class="hidden-for-small-only">
    <div class= "medium-7 medium-centered columns text-right">
      <input type="hidden" name="fbzx" value="-2006049549441426890">
      <div class="ss-item ss-navigate" >
        <button type="submit" class="responsive-button" name="submit" value="Submit" id="ss-submit" form="ss-form" >Submit</button>
      </div>
    </div>
  </div> 
</div>


<!-- Seperating new small box -->

<div class="visible-for-small-only">
  <div class="row">
    <div class="small-12  small-centered columns"><br />

      <!-- Form starts -->
      <form action="https://docs.google.com/forms/d/1RR9b-n21eWTH6yCwgBpS0cOJ6W1ekHZxdZIKngemZMc/formResponse" method="POST" id="ss-form2" target="_self" onsubmit="" class="form">
        <section class="row separation-1"></section>
        

        <!-- Name text box -->
        <div class="row">
          <div class="small-11 small-centered  columns">
            <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1521738895"><div class="ss-q-title">
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
            <span class="ss-required-asterisk"></span></div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
            <input type="text" name="entry.1521738895" value="" class="field" id="name" dir="auto" aria-label="Name:  " aria-required="true" required="" title="" placeholder="Name">
            <div class="error-message" id="1154056356_errorMessage"></div>
            <div class="required-message"></div>
            </div></div></div>
         </div>
        </div>

         <!-- Email text box -->
        <div class="row">
          <div class="small-11 small-centered  columns">
            <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1440094105"><div class="ss-q-title">
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
            <span class="ss-required-asterisk"></span></div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
            
            <input type="text" name="entry.1440094105" value="" class="field" id="email" dir="auto" aria-label="Email Address:  " aria-required="true" required="" title="" placeholder="Email">
            <div class="error-message" id="264632001_errorMessage"></div>
            <div class="required-message"></div>
            </div></div></div>
          </div>
        </div>

        <!-- Campus Drop down  -->

        <div class="row">
          <div class="small-11 small-centered  columns">
            <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">

            <label class="ss-q-item-label" for="entry_261296648"><div class="ss-q-title">
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
            <span class="ss-required-asterisk"></span></div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
            <select name="entry_261296648" id="school" aria-label="Region:  " class="field" aria-required="true" required="">
              <option value""  disabled selected style='display:none;'>Region</option>
                <option value="SOUTHERN CALIFORNIA">SOUTHERN CALIFORNIA</option>
                <option value="NORTHERN CALIFORNIA">NORTHERN CALIFORNIA</option>
                <option value="AUSTRALIA">AUSTRALIA</option>
                <option value="EAST ASIA">EAST ASIA</option>
                <option value="Other">Other</option></select>
              <div class="required-message"></div></div></div></div>
          </div>
        </div>
      
        <!-- Check Boxes -->
        <div class="row">
          <div class="small-11 small-centered  columns">
            <label> Would you be interested in any of the following?  </label>
              <ul id= "form" class="ss-choices" role="group" aria-label="">
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Discipleship Bible Study (for Christians)"  role="checkbox" class="ss-q-checkbox"></span>
                <span class="ss-choice-label" id="option1">Discipleship Bible Study (for Christians)</span>
                </label>

                </li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Investigative Bible Study (for seekers)" id="group_1411060512_2" role="checkbox" class="ss-q-checkbox"></span>
                <span class="ss-choice-label" id="option1" >Investigative Bible Study (for seekers)</span>
                </label></li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="One-on-one Discipleship" id="group_1411060512_3" role="checkbox" class="ss-q-checkbox"></span>
                <span class="ss-choice-label" id="option1">One-on-one Discipleship</span>
                </label></li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Large Group Meetings" id="group_1411060512_4" role="checkbox" class="ss-q-checkbox"></span>
                <span class="ss-choice-label" id="option1">Large Group Meetings</span>
                </label></li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="A fifteen minute summary of the Bible" id="group_1411060512_5" role="checkbox" class="ss-q-checkbox"></span>
                <span class="ss-choice-label" id="option1">A fifteen minute summary of the Bible</span>
                </label></li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1411060512" value="Social Events &amp; Fellowship Activities" id="group_1411060512_6" role="checkbox" class="ss-q-checkbox"></span>
                <span class="ss-choice-label" id="option1">Social Events &amp; Fellowship Activities</span>
                </label></li>
              </ul>
            </div>
         </div>

        <!-- Comment/ Message Box -->
        <div class="row">
          <div class="small-11 small-centered  columns">
            <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1874525269"><div class="ss-q-title">
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
            
            <textarea name="entry.1874525269" rows="5"  id="comment" dir="auto" aria-label="Message (Optional):  " placeholder="Comment"></textarea>
            <div class="error-message" id="388154614_errorMessage"></div>
            <div class="required-message"></div>
            </div></div></div>
          </div>
        </div>

        <input type="hidden" name="draftResponse" value="[,,&quot;-2006049549441426890&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <section class="row separation-0"></section>
      </form>
    </div>
  </div>
</div>

<section class="row separation-0"></section>

<!-- Submit Button -->
<div class="row">
  <div class="visible-for-small-only small-12 small-centered columns text-center">
      <input type="hidden" name="fbzx" value="-2006049549441426890">
      <div class="ss-item ss-navigate" >
        <button type="submit" class="responsive-button" name="submit" value="Submit" id="ss-submit" form="ss-form2">Submit</button>
      </div>
  </div>
</div> 
