
<% provide(:title, 'Core Values and Key Competencies') %>
<div class="row text-center">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="westla-main">
    </section>
 </div>
</div>
<div class="row"
 <div class="small-12 medium-6 large-3 columns">
  <section class="<div class="row">
  <div class="small-12 medium-12 large-12 columns text-center">
   <div class = "small 8 columns">
    <h3 class = "serif">Core Disciplines and Key Competencies</h3>
    <h4 class = "serif">Identifying with Christ</h4>
    <a href="/Personal_Testimony.pdf">Personal Testimony</a>
    <h4 class = "serif">Devotion to Christ</h4>
    <a href="/Quiet_Time.pdf">Quiet Time</a><br>
    <a href="https://www.navigators.org/Tools/Discipleship%20Resources/Tools/Topical%20Memory%20System">The Topical Memory System</a><br>
    <a href="https://www.navigators.org/Tools/Discipleship%20Resources/Tools/The%20Prayer%20Hand">The Prayer Hand</a><br>
    <a href="https://www.navigators.org/Tools/Discipleship%20Resources/Tools/The%20Word%20Hand">The Word Hand</a>
   </div> 
    <h4 class = "serif">Evangelism</h4>
    <a href="Discovery_Bible_Method.pdf">Discovery Bible Method</a><br>
    <a href="NavBridge.pdf">The Bridge Illustration</a>
    <h4 class = "serif">Discipleship</h4>
    <a href="The_Wheel.pdf">The Wheel Illustration</a>
    <h4 class = "serif">World Vision</h4>
    <a href="/TheBigDipper.pdf">The Big Dipper</a>
    <h4 class = "serif">Spiritual Multiplication</h4>
    <a href="/Fibonacci_Sequence.pdf">The Fibonacci Sequence</a>
    <a href="/Jims_Equation_v_2_exp_n.pdf">Jim's Equation and 2^n</a>
    <h4 class = "serif">Christ-like Character</h4>
    <a href="The_Character_Sphere.pdf">The Character Sphere</a>
    <section class="separation-1"></section>
<div class="info-box-pad panel" data-equalizer-watch>
 <div class="row">
  <div class="small-12 medium-4 columns text-center">
    <figure class="fig-link">
      <%= link_to "", eastasia_path, id: "", class: "circular bg-circular inline-block fast-opacity-trans" %>
    </figure>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <figure class="fig-link">
      <%= link_to "", href="https://www.navigators.org", id: "navlogo-main", class: "circular bg-circular inline-block fast-opacity-trans" %>
    </figure>
      <%= link_to "The Navigators", href="https://www.navigators.org" %>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <figure class="fig-link">
      <%= link_to "", eastasia_path, id: "", class: "circular bg-circular inline-block fast-opacity-trans" %>
    </figure>
  </div>
 </div>
</div>
   </div>
  </div>
 </div>
</div>
