<% provide(:title, 'founder') %>
<div class="row text-center">
 <div class="small-12 columns">
 <section class="separation-1"></section>
 </div>
</div>
<div class="info-box-pad panel" data-equalizer-watch>
<div class="row">
 <div class="small-12 medium-4 columns">
  <div class="main-photo bg-img" id="la-main">
  </div>
 </div>
  <div class="small-12 medium-4 columns">
   <div class="main-photo bg-img" id="jgreer-main">
   </div>
  </div>
 <div class="small-12 medium-4 columns">
  <div class="main-photo bg-img" id="la-main">
 </div>
</div>
</div>
<div class="row">
 <div class="small-12 medium-12 large-12 columns text-left"">
  <div id="modal1" class="top responsive-square" data-reveal>
   <div class = "small 8 columns">
    <div class="row text-center">
     <div class = "small-12 columns">
          <h3 class = "serif"><font face="Oswald">John Greer</font></h3> 
          <h4 class ="serif"><font face="Oswald">Founder</font></h4>
     </div>
    </div>
          <p class = "responsive-indent">John is an engineer in the Los Angeles area and is the founder of Christianity at Work. He is currently on the board of In Christ Alone (ICA) – an international, interdenominational, campus ministry and mission organization<a href="http://www.icaministry.org"> (www.icaministry.org).</a> He is also a teaching elder at Grace of Long Beach.</p>
          <p class = "responsive-indent">John has a Bachelor’s Degree in Electrical Engineering Technology from Western Kentucky University and a Master of Divinity from Fuller Theological Seminary with an emphasis in Cross-cultural Studies. He has also completed graduate work at both the University of Massachusetts and the University of Southern California (USC).</p>
          <p class = "responsive-indent">As a student at WKU, John served two years as student-president of the WKU Navigators. Following graduation he entered the work-world at a computer company in New England where he worked with the Navigator’s Church Discipleship Ministries. In 1992, John left work to serve as a Conservative Baptist Missionary in East Asia before returning to the U.S. to pursue his Masters.</p>
          <p class = "responsive-indent">After seminary, John founded Living Peace Community Church in the San Fernando Valley with the American Baptist Churches of Los Angeles (ABCLA). He served as the head pastor there for nearly ten years. He also served as both an engineer and pastor in East Asia from 1998 to 1999. Since returning to the U.S. he has served as a full-time engineer and lay-minister as well as a short-term missionary over-seas.</p>
          <p class = "responsive-indent">John and his wife Jenny are in their 20th year of marriage and currently live with their three children in Long Beach, California.</p>
   </div>
  </div>
 </div>
</div>
