<% provide(:title, 'Northern California') %>
<div class="row text-center">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="home2-main">
    </section>
 </div>
</div>
