<% provide(:title, 'Seminar') %>
<div class="row text-center">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="westla-main"></section>
 </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <section class="separation-1"></section>
    <div link_to "Live.", "javascript:;", class="responsive-button">
     <a data-reveal-id="modal1" href="javascript:;">Register</a>
     <div id="modal1" class="reveal-modal" data-reveal>
     <section class="circular bg-circular inline-block fast-opacity-trans" id="westla-main"></section> 
     <iframe height="545" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://jgreer.wufoo.com/embed/z7x3p9/"><a href="http://jgreer.wufoo.com/forms/z7x3p9/">Fill out my Wufoo form!</a></iframe>
     <a class="close-reveal-modal">&#215;</a>
    </div>
   </div>
  </div>
 </div>
</div>
