
<% provide(:title, 'Seminar') %>
<div class="row text-center">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="home-main">
    </section>
 </div>
</div>

<div class="row">
 <div class = "small-11 small-centered columns">
  <div class="row collapse">
   <div class = "small 8 columns">
    <h3 class = "serif"><font face="Oswald">The Seminar</font></h3>
    <p class = "responsive-indent">Christianity at Work is a seminar that seeks to provide a theological foundation for Christianity in the workplace.  It looks at the theological implications of vocation particularly as it applies to Christian discipleship and mission.  Practical lessons for ministry and a clear articulation of the boundaries involved in workplace ministry are provided.</p>
     <div class="row">
      <div class="small-12 medium-4 columns text-center">
       <figure class="fig-link">
        <%= link_to "", southerncali_path, id: "", class: "circular bg-circular inline-block fast-opacity-trans" %>
       </figure>
      </div>
      <div class="small-12 medium-4 columns text-center">
       <figure class="fig-link">
        <h3><strong><font color=#425D8E><font face="Oswald">The Next Seminar</font></strong></h3>
        <%=link_to "", seminar_details_path, id: "westla-main", class: "circular bg-circular inline-block fast-opacity-trans" %>
       </figure>
      </div>
      <div class="small-12 medium-4 large-3 columns text-center">
       <figure class="fig-link">
        <%=link_to "", northerncali_path, id: "", class: "circular bg-circular inline-block fast-opacity-trans" %>
       </figure>
    <section class="separation-1"></section>
      </div>
     </div>
   </div>
  </div>
 </div>
</div>
