<% provide(:title, 'mission/vision/values') %>
<div class="row text-center">
  <div class="small-12 columns">
    <section class="main-photo bg-img fast-height-trans" id="home2-main">
    </section>
 </div>
</div>
 <div class="row">
  <div class="small-12 medium-12 large-12 columns text-left">
     <div id="modal1" class="top responsive-square" data-reveal>
      <div class = "small 8 columns">
       <div class="row text-center">
       <h2 class = "serif"><font face="Oswald"><font color="#425D8E">Mission</font></h2>
       </div>
         <h3 class="serif"><font face="Oswald">To shape culture through the reality of Christ in the workplace by means of effective discipleship.</font></h3>
        <div class = "row text-center">
         <h2 class = "serif"><font face="Oswald"><font color="#425D8E">Vision</font></h2>
        </div> 
        <h3 class="serif"><font face="Oswald">To provide practical resources and a clear road-map toward God's greatest commandments and Jesus' great commission within the context of the workplace.</font></h3>
       <div class="row text-center">
       <h2 class = "serif"><font face="Oswald"><font color="#425D8E">Values</font></h2>
       </div>
          <h3 class = "serif"><font face="Oswald"><font color="#425D8E">Love:</font> The means and ends of all we do </h3>
          <h3 class = "serif"><font face="Oswald"><font color="#425D8E">Leadership:</font> The courage to shape culture in every sphere of influence </h3>
          <h3 class = "serif"><font face="Oswald"><font color="#425D8E">Truth:</font> The reality out of which we choose to operate </h3>
          <h3 class = "serif"><font face="Oswald"><font color="#425D8E">Passion:</font> Giving heart, soul, mind and strength to the work of God in Christ </h4>
          <h3 class = "serif"><font face="Oswald"><font color="#425D8E">Perseverance:</font> An unrelenting commitment to the Gospel </h3>
    </div>
   </div>
  </div>
 </div>
</div>
