/*
 * Define image links for id's
 */

// HOME

#home-main {
  background-image: asset-url('home/home-landscape.jpg');
}

#cal-statue {
  background: asset-url('home/berkeleybear.png');
}

#uci-statue {
  background: asset-url('home/anteater.png');
}

#westla-main {
  background-image: asset-url('home/MHBPier.jpg');
}

#usc-statue {
  background: asset-url('home/tommytrojan.png');
}

#home2-main {
 background-image: asset-url('home/GoldenGateBridge-landscape.jpg');
}

#jgreer-main {
 background-image: asset-url('home/jgreer.png');
}

#sydney-main {
 background-image: asset-url('home/SydneyHarbourBridge-landscape.jpg');
}

#hongkong-main {
 background-image: asset-url('home/PeakPano2-landscape.jpg');
}

#melbourne-main {
 background-image: asset-url('home/YarraRiverMelbourneCBD-landscape.jpg');
}

#contact-main {
 background-image: asset-url('home/coffeecup2.jpg');
}

#navlogo-main {
 background-image: asset-url('home/logo-navigators.png');
}

#black {
 background: asset-url('home/black.JPG');
}

#la-main {
 background-image: asset-url('home/la.JPG');
}

#la2b-main {
 background-image: asset-url('home/la2b.JPG');
}
